
/* rodapé */
#footerdestino {
  color: var(--main-color);
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 3rem 1rem;
}

#footerdestino a {
  color: var(--main-color);
  text-decoration: none;
}

.networks {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 60px !important;

}

#logoRodape {
  width: 10%;
  height: 10%;
  align-items: center;
  margin: 20%;
  
}

.img-fluid {
  height: 400px;
  width: auto;
}

.teste-img {
  height: 110px;
  text-align: center;
  align-items: center;
}